@font-face
  font-family: 'DINAlternate-Bold'
  src: url('/assets/fonts/Dina/DIN-BoldAlternate.eot')
  src: url('/assets/fonts/Dina/DIN-BoldAlternate.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Dina/DIN-BoldAlternate.woff') format('woff'),
  url('/assets/fonts/Dina/DIN-BoldAlternate.ttf') format('truetype'),
  url('/assets/fonts/Dina/DIN-BoldAlternate.svg') format('svg')
  font-style: bold

@font-face
  font-family: 'Roboto-Medium'
  src: url('/assets/fonts/Roboto/roboto-medium.eot')
  src: url('/assets/fonts/Roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Roboto/roboto-medium.woff') format('woff'),
  url('/assets/fonts/Roboto/roboto-medium.ttf') format('truetype'),
  url('/assets/fonts/Roboto/roboto-medium.svg') format('svg')
  font-style: normal

@font-face
  font-family: 'Roboto-Regular'
  src: url('/assets/fonts/Roboto/roboto-regular.eot')
  src: url('/assets/fonts/Roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Roboto/roboto-regular.woff') format('woff'),
  url('/assets/fonts/Roboto/roboto-regular.ttf') format('truetype'),
  url('/assets/fonts/Roboto/roboto-regular.svg') format('svg')
  font-style: normal