$f-robotoMed: 'Roboto-Medium' , sans-serif
$f-robotoReg: 'Roboto-Regular' , sans-serif
$f-din: 'DINAlternate-Bold', sans-serif

$c-black: #000
$c-white: #fff
$c-live: #d52b1e
$c-box: #729e00
$blue-gol: #1c325c
$bg-pauta: #3f3f3f



$phone: max-width 768px


@function toMVW($target)
  $vw-context: (320 * 0.01) * 1
  @return($target / $vw-context) * 1vw

@function toVW($target)
  $vw-context: (2560 * 0.01) * 1
  @return($target / $vw-context) * 1vw

=flags
	@for $i from 0 through 13
		&.fl_#{$i*32}
				@if $i == 416
					background-position: 0 -384px
					background-image: url("../assets/images/flag_desk.png")
					background-repeat: no-repeat
				@else
					background-position: 0 (-$i * 32px)
					background-image: url("../assets/images/flag_desk.png")
					background-repeat: no-repeat
		&.fl_416
			background-position: 0 -384px
			background-image: url("../assets/images/flag_desk.png")
			background-repeat: no-repeat


@function rem-calc($size)
  @return ($size / 16) + 0em


