<div class="content_wrapper">
  <div class="content_title">
    <span class="live">EN VIVO</span>
    <h1 class="title">Sorteo Copa América Brasil 2019</h1>
  </div>
  <div class="group" *ngFor="let nodo of keys;">
    <h2>Grupo {{ nodo | json}}</h2>
    <div class="teamAdd " >
        <div class="content_team" [ngClass]="item.field_paises_copa == null ? 'false_team' : 'active_team' " *ngFor="let item of groups[nodo];">
          <!-- <div>{{ item.field_paises_copa | getLetter }}</div> -->
          <span class="flag fl_{{ item.field_paises_copa | getLetter }}"></span>
          <p class="text_team">{{item.field_paises_copa }}</p>
        </div>
    </div>
  </div>
</div>