@import '../sass/styles.sass'
.content_wrapper
 width: 100%
 max-width: 1000px
 height: 323px
 display: flex
 flex-wrap: wrap
 justify-content: flex-end
 margin: 0 auto
 background-image: url(../assets/images/bg_desk.png)
 background-size: cover
 .content_title
  display: inline-flex
  width: 100%
  justify-content: flex-end
  align-items: center
  margin-top: 30px
  .live
   display: inline-flex
   width: 39px
   height: 15px
   font-family: $f-robotoReg
   font-size: rem-calc(9)
   color: $c-white
   border-radius: 6px
   background-color: $c-live
   justify-content: center
   align-items: center
   margin-right: 7px
  .title
   display: inline-flex
   width: 69%
   color: $c-white
   font-family: $f-din
   font-size: rem-calc(30)
   margin: 0
 .group
  width: 22.8%
  display: inline-flex
  margin: 9px
  box-sizing: border-box
  flex-wrap: wrap
  flex-direction: column
  justify-content: flex-end
  margin-bottom: 27px
  &:nth-child(4) 
   margin-right: 15px
  h2
   width: 100%
   margin: 0
   font-size: 16px
   font-weight: 500
   font-style: normal
   font-stretch: normal
   line-height: 2.5
   letter-spacing: normal
   text-align: left
   color: #ffffff
   text-transform: uppercase
   font-family: $f-robotoMed
  .teamAdd
   display: flex
   width: 100%
   height: 177px
   flex-wrap: wrap
   flex-direction: column
   background: rgb(255, 255, 255)
   justify-content: center
   border-radius: 6px
   box-shadow: 5px 5px 0px 1px $c-box
   .content_team
    width: 100%
    margin: 6px 0
    display: inline-flex
    align-items: center
    .flag
     display: flex
     margin: 0 10px
     width: 32px
     height: 32px
     +flags
    .text_team
     display: flex
     margin: 0
     font-family: $f-robotoReg
